/* Reset some default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div[role=button] {
  cursor: pointer;
}

/* Button */
button:not(.rc-dialog-close),
a.button {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1rem;
  border: none;
  background-color: #0e8f64;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

button:not(.rc-dialog-close):hover,
a.button:hover {
  background-color: #0c7450;
}

button:not(.rc-dialog-close):focus,
a.button:focus {
  outline: none;
}

button:not(.rc-dialog-close):disabled {
  background-color: #727272;
  cursor: default;
}

/* Input */
input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
}

input:focus {
  outline: none;
  border-color: #0e8f64;
}

/* Label */
label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  color: #000;
}

/* Header */
header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Unordered List */
ul {
  list-style: none;
}

/* List Item */
li {
  margin-bottom: 0.5rem;
}

/* Anchor Link */
a {
  color: #0e8f64;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
}

a:hover, a.active {
  color: #0c7450;
}

select {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 1rem;
  color: #000;
  cursor: pointer;
}

select:focus {
  outline: none;
  border-color: #0e8f64;
}

/* Option */
option {
  padding: 0.5rem;
  background-color: #fff;
  color: #000;
}

option:hover {
  background-color: #f0f0f0;
}

option:selected {
  background-color: #0e8f64;
  color: #fff;
}